@model RoT_v6.Models.Job

@{
    ViewData["Title"] = "Delete";
}

@{ 
    Layout = "";
}

<h2>Delete Job</h2>

<h3>Are you sure you want to delete this job?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesiredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobNum)
        </dd>
    </dl>
    
    <form asp-action="Delete/@Model.JobID">
        <div class="form-actions no-color">
           <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>
</div>
