@model RoT_v6.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesiredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesiredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InvHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InvHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
