@model IEnumerable<RoT_v6.Models.Job>
@{
    ViewData["Title"] = "Index";
}

<h2>All Jobs</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="allJobs" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompleteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompleteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobNum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JobID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.JobID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JobID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#allJobs").DataTable({
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" }
            ]
        });
    });
</script>
