@model IEnumerable<RoT_v6.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstArrDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdealDelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstArrDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdealDelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.purchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.purchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.purchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
