@model RoT_v6.ViewModels.Purchase_IndexThreeTables

@{
    ViewData["Title"] = "Index";
}

<h2>Purchase Requests</h2>
<div class="row">
    <ul class="nav nav-tabs page-tabs" role="tablist" id="PurchaseTabs">
        <li role="presentation" class="active"><a href="#NewRequestsTab" aria-controls="NewRequestsTab" role="tab" data-toggle="tab">New Requests</a></li>
        <li role="presentation"><a href="#PurchasedRequestsTab" aria-controls="PurchasedRequestsTab" role="tab" data-toggle="tab">Purchased Requests</a></li>
        <li role="presentation"><a href="#ArrivedRequestsTab" aria-controls="ArrivedRequestsTab" role="tab" data-toggle="tab">Arrived Requests</a></li>

    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="NewRequestsTab">
            <table id="NewRequests" class="table table-striped table-bordered">
                <thead class="data_table_head">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_New[0].Block)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_New[0].Description)
                        </th>
                        <th>
                            Employee
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_New[0].IdealDelDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_New[0].RequestDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_New[0].Quantity)
                        </th>
                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Purchases_New)
                    {
                        <tr>
                            @if (item.Block == true)
                            {
                                <td class="red-back">
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            else
                            {
                                <td class="green-back">
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.employeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdealDelDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                           
                            <td>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'EditPurchases', @item.purchID)">Edit</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DetailsPurchases', @item.purchID)">Details</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DeletePurchases', @item.purchID)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="PurchasedRequestsTab">
            <table id="PurchasedRequests" class="table table-striped table-bordered">
                <thead class="data_table_head">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].Block)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].IdealDelDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].Vendor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].PurchDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Purchased[0].TotalCost)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Purchases_Purchased)
                    {
                        <tr>
                            @if (item.Block == true)
                            {
                                <td class="red-back">
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdealDelDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vendor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCost)
                            </td>
                            <td>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'EditPurchases', @item.purchID)">Edit</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DetailsPurchases', @item.purchID)">Details</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DeletePurchases', @item.purchID)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="ArrivedRequestsTab">
            <table id="ArrivedRequests" class="table table-striped table-bordered">
                <thead class="data_table_head">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].Block)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].Vendor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].PurchDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].TotalCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Purchases_Delivered[0].ArrivedDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Purchases_Delivered)
                    {
                        <tr>
                            @if (item.Block == true)
                            {
                                <td class="red-back">
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vendor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArrivedDate)
                            </td>
                            <td>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'EditPurchases', @item.purchID)">Edit</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DetailsPurchases', @item.purchID)">Details</button>
                                <button class="btn btn-primary" onclick="dataUrl('Purchases', 'DeletePurchases', @item.purchID)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    var newTable;
    var purchasedTable;
    var arrivedTable;
    $(document).ready(function () {
        newTable = $("#NewRequests").DataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "info": false,
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                {
                    "targets": 1,
                    "render": $.fn.dataTable.render.ellipsis()
                }
            ]
        });
        purchasedTable = $("#PurchasedRequests").DataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "info": false,
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                {
                    "targets": 1,
                    "render": $.fn.dataTable.render.ellipsis()
                }
            ]
        });
        arrivedTable = $("#ArrivedRequests").DataTable({
            "scrollY": "800px",
            "scrollCollapse": true,
            "paging": false,
            "ordering": true,
            "info": false,
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" },
                {
                    "targets": 1,
                    "render": $.fn.dataTable.render.ellipsis()
                }
            ]
        });
    });
    $('#PurchaseTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        purchasedTable.columns.adjust().draw();
        arrivedTable.columns.adjust().draw();
    })
</script>
